@model WebApp_MVC.Models.ModeloUsuario

@{
    ViewBag.Title = "CambioPass";
}

<div style="background-color:white">
    <h2>Cambio de Contraseña</h2>

    @using (Html.BeginForm("CPassConfirmacion", "Account"))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @ViewBag.Hecho
        <hr />

        <div class="form-group">
            <div class="col-md-10">
                Contraseña nueva:
                <input class="form-control" type="password" name="p1" id="p">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                Repita Contraseña:
                <input class="form-control" type="password" name="p2" id="p2">

            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Cambiar Contraseña" />
        <a class="btn btn-primary" @Html.ActionLink("Regresar", "Exito")
            
            <br>
            @ViewBag.Error
    </div>

    }

    <div>
        
    </div>
</div>

