
@{
    ViewBag.Title = "Exito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color:white">
    <h3>@(ViewBag.Registrado)</h3>
    <h3>Bienvenido, @(((WebApp_MVC.Models.ModeloUsuario)(Session["user"])).correo)</h3>

    
    @Html.Raw(Html.ActionLink("Perfil usuario", "Perfil", "Account", new { correo = (string)ViewBag.Correo }, new { correo = (string)ViewBag.Correo }))
    

    

</div>


