
@{
    ViewBag.Title = "Exito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/loginestilo.css" rel="stylesheet" id="login-css">

<div style="background-color:white">
    <a class="btn btn-primary" @Html.ActionLink("Cerrar Sesion", "LogOut", "Account")</a>
    <a class="btn btn-primary" @Html.ActionLink("Cambiar Contraseña", "CambioPass", "Account")</a>
    
    <h3>Bienvenido, @(((WebApp_MVC.Models.ModeloUsuario)(Session["user"])).correo)</h3>

    
    <a class="btn btn-primary" @Html.ActionLink("Perfil usuario", "Perfil", "Account")</a>
    
    

    

</div>


