
@{
    ViewBag.Title = "Exito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/baseestilo.css" rel="stylesheet" id="login-css">

<div style="align-content:center; text-align:center; background-color:ghostwhite; padding: 5px;border-radius: 10px;">


    <div class="row">
        <div class="col-sm">

            <div class="col-md-4">
                <div class="card">
                    <div class="card-content">
                        <div class="card-header-blue">
                            <h3>Bienvenido, @(((WebApp_MVC.Models.ModeloUsuario)(Session["user"])).correo)</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-p">
                                ♠Perfil usuario mostrara las acciones que usted dispone.<br />
                                ♠Cambiar contraseña le permitira cambiar su credencial de acceso.<br />
                                ♠Cerrar Sesión cerrara su sesión actual.
                            </p>
                        </div>

                        <nav class="nav-tabs">
                            <ul>
                                <li><a class="btn btn-primary" @Html.ActionLink("Perfil usuario", "Perfil", "Account")</a></li>
                                <li> <a class="btn btn-primary" @Html.ActionLink("Cambiar Contraseña", "CambioPass", "Account")</a></li>
                                <li> <a class="btn btn-primary" @Html.ActionLink("Cerrar Sesion", "LogOut", "Account")</a></li>
                            </ul>

                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


