
@{
    ViewBag.Title = "Recuperacion";
}

<link href="~/Content/loginestilo.css" rel="stylesheet" id="bootstrap-css">
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-lock"></span> <h2>¿Olvidaste tu contraseña?</h2>
                    <h5>Se enviara un link para poder modificar tu contraseña</h5>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="email" class="col-sm-3 control-label">
                                Email
                            </label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="email" placeholder="Email..." required>
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-success btn-sm">
                                    Enviar link de Recuperacion
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    @Html.ActionLink("Volver Atras <..","Index","Account")
                </div>
            </div>
        </div>
    </div>
</div>
