<link href="~/Content/loginestilo.css" rel="stylesheet" id="bootstrap-css">
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

@{
    ViewBag.Title = "Registrarse";
}



<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-lock"></span> <h2>Registrate</h2>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="name" class="col-sm-3 control-label">
                                Nombre
                            </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="txt_nombre" placeholder="Nombre..." required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-3 control-label">
                                Apellidos
                            </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="txt_apellidos" placeholder="Apellidos..." required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-3 control-label">
                                Email
                            </label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="email" placeholder="Email..." required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-3 control-label">
                                Password
                            </label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="password" placeholder="Contraseña..." required>
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-success btn-sm">
                                    Ingresar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    @Html.ActionLink("¿Ya tienes cuenta?", "Index", "Account")
                </div>
            </div>
        </div>
    </div>
</div>
