body {
    background-image: url(img/back.jpg);
    background-repeat: repeat-x;
    /*
    -webkit-background-size: cover;
    -moz-background-size: cover;*/
    background-size: cover;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    background-size: cover;
}
#navgeneral {
    background-color: rgba(0,38,62,1);

}
.panel-default {
    opacity: 0.9;
    margin-top: 30px;   
    border-radius: 10px;    
}
#panels{
    background-color: transparent;
    border-radius: 10px;
}

.form-group.last {
    margin-bottom: 0px;
    
}
h2{
    
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffd11a;
    color: black;
    text-align: center;
}

.imagenesre{
    max-height:400px;
    width:100%;
 
}

.card {
    background: #FFF;
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #AAA;
    border-bottom: 3px solid #BBB;
    padding: 0px;
    margin-top: 20px;
    overflow: hidden;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "Lato","Helvetica Neue";
    -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.card-body {
    margin: auto;
}

.pull-left {
    float: left;
}

.pull-none {
    float: none !important;
}

.pull-right {
    float: right;
}

.card-header {
    width: 100%;
    color: #2196F3;
    border-bottom: 3px solid #BBB;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: Times New Roman, sans-serif;
    padding: 0px;
    margin-top: 0px;
    overflow: hidden;
    -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.card-header-blue {
    background-color: #2196F3;
    color: whitesmoke;
    border-bottom: 3px solid #BBB;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "Lato","Helvetica Neue";
    padding: 0px;
    margin-top: 0px;
    overflow: hidden;
    -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.card-heading {
    display: block;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 5px;
    margin-left: 1px;
    border-bottom: 1px #2196F3;
    color: #fff;
}

.card-footer {
    border-top: 1px solid #000;
}

.card-image {
    overflow: hidden;
    position: relative;
    margin-bottom: 1em;
}

    .card-image:first-child {
        border-radius: 2px 2px 0 0;
    }

    .card-image:last-child {
        border-radius: 0 0 2px 2px;
    }

    .card-image img {
        display: block;
        height: auto;
        width: 100%;
    }

.card-image-text {
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
    color: #ffffff;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    padding: 12px 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.divcentrado {
    margin-right: auto;
    margin-left: auto;
    width: 8em;
}
