@{
    ViewBag.Title = "Acerca del Centro de innovación y transferencia tecnológica";
}

<link href="~/Content/estiloContactoInformacion.css" rel="stylesheet" id="login-css">
<section id="sectionContacto">
    <p>
        <h2>@ViewBag.Title.</h2>
        <br />
        La Escuela de Informática y Telecomunicaciones de DuocUC creó en 2010 su Centro de Innovación y Transferencia Tecnológica (CITT).
        <br />
        <br />
        El centro nació con el objetivo de generar espacios y dinámicas abiertas que enriquezcan a la comunidad y generen formas más estrechas y profundas de vinculación con la industria y la sociedad en general.
        <br />
        <br />
        En la actualidad, la comunidad CITT se encuentra en las 11 sedes donde está presente la Escuela de Informática y Telecomunicaciones: Antonio Varas, Concepción, Maipú, Melipilla, Padre Alonso de Ovalle, Plaza Norte, Plaza Oeste, Puente Alto, San Bernardo, Viña del mar y San Joaquin,
        siendo en esta ultima donde se aplica el sistema de asistencia que usted esta ocupando.
        <br />
        <br />
        <img src="@Url.Content("~/Content/img/CittPremio.png")" alt="Premio" width="50%" height="50%">
    </p>

</section>
