

@{
    ViewBag.Title = "TallerTomado";
}

<div>
    <h2>Taller Tomado</h2>
    <p>@ViewBag.tomado</p>
    <p>@ViewBag.Error</p>
    <a class="btn btn-primary" @Html.ActionLink("volver","../Home/ListaTalleres")</a>
</div>
    

